flask
langchain_groq
flask-wtf
python-dotenv
langchain
openai
pypdf2
requests
spacy
beautifulsoup4
langchain_openai
scrapy
itemloaders
pydantic
linkedin-api
aiohttp
beautifulsoup4
langchain-openai
gunicorn